<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="ticketForm" (submit)="guardarTicket()">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span> Detalle de incidencia registrada
          <input type="hidden" formControlName="idp">
          <input type="hidden" formControlName="idu">
          <input type="hidden" formControlName="incidenciaid">
        </h4>
        <div>
            <div class="col-md-6" style="display: inline-block;">
              <div class="form-group">
                <label for="usuario" style="color: #398BF7;"> Usuario solicitante </label>
                <div class="input-group">
                    <input type="text" autocomplete="off" [attr.disabled]="true"
                    formControlName="usuario" class="form-control" id="usuario" style="font-weight: bold;">
                </div>
              </div>
            </div>
            <div class="col-md-6" style="display: inline-block;">
              <div class="form-group">
                <label for="usuario_nombre" style="color: #398BF7;"> Nombre del Usuario </label>
                <div class="input-group">
                    <input type="text" autocomplete="off" [attr.disabled]="true"
                    class="form-control" id="usuario_nombre" formControlName="usuario_nombre"
                    style="font-weight: bold;">
                </div>
              </div>
            </div>
        </div>

        <div>
          <div class="col-md-6" style="display: inline-block;">
            <div class="form-group">
              <label for="correo" style="color: #398BF7;"> Correo del Usuario </label>
              <div class="input-group">
                  <input type="text" autocomplete="off" [attr.disabled]="true"
                  class="form-control" id="correo" formControlName="correo"
                  style="font-weight: bold;">
              </div>
            </div>
          </div>
          <div class="col-md-6" style="display: inline-block;">
            <div class="form-group">
              <label for="nombre_area_usuario" style="color: #398BF7;"> Área del Usuario </label>
              <div class="input-group">
                  <input type="text" autocomplete="off" formControlName="nombre_area_usuario"
                  class="form-control" id="nombre_area_usuario" style="font-weight: bold;" [attr.disabled]="true">
              </div>
            </div>
          </div>
      </div>
      <div>
        <div class="col-md-6" style="display: inline-block;">
          <div class="form-group">
            <label for="tipo_incidencia" style="color: #398BF7;"> Tipo de incidencia </label>
            <div class="input-group">
              <input type="text" autocomplete="off" formControlName="tipo_incidencia"
              class="form-control" id="tipo_incidencia" style="font-weight: bold;" [attr.disabled]="true">
            </div>
          </div>
        </div>
        <div class="col-md-6" style="display: inline-block;">
          <div class="form-group">
            <label for="especialista" style="color: #398BF7;"> Especialista asignado <span style="color: #BF0908;">(*)</span> </label>
            <select
                formControlName="especialista"
                class="form-control custom-select"
                style="border: 1px solid #242A33; font-weight : bold">
                    <option value=""> Seleccione un especialista </option>
                    <option *ngFor="let usuario of usuarios"
                    [value]="usuario.uid" >
                      {{ usuario.nombre_total }}
                    </option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-9" style="display: inline-block;">
          <div class="form-group">
            <label for="detalle" style="color: #398BF7;"> Detalle de incidencia <input type="hidden" formControlName="IDtipoinci"> </label>
            <div class="input-group">
                <textarea formControlName="detalle"
                class="form-control" id="detalle" cols="30" rows="10"
                style="resize: none; height: 150px;border: 1px solid #444;font-weight: bold;" [attr.disabled]="true"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="display: inline-block;">
          <div class="form-group">
            <label for="tipo_prioridad" style="color: #398BF7;"> Tipo de Prioridad <span style="color: #BF0908;">(*)</span> </label>
            <select
                formControlName="tipo_prioridad"
                class="form-control custom-select"
                style="border: 1px solid #242A33; font-weight : bold">
                    <option value=""> Seleccione un tipo </option>
                    <option *ngFor="let prioridad of prioridades"
                    [value]="prioridad.IDprioridad" >
                      {{ prioridad.nombre_prioridad }}
                    </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12" style="display: flex;">
              <div class="col-sm-6 col-md-6" style="text-align: center;">
                <button (click)="Regresar()" type="button"
                class="btn btn-inverse"><i class="fa fa-rotate-left"></i> Regresar </button>
              </div>
              <div class="col-sm-6 col-md-6" style="text-align: center;">
                <button
                [disabled]="ticketForm.invalid"
                type="submit" class="btn btn-success waves-effect waves-light"><i class="fa fa-save"></i> REGISTRAR
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>

    </div>
    </form>
  </div>

</div>
