.pendiente {
  background-color:#EF5350;
  padding: 3px 10px;
  line-height: 13px;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}

.asignada {
  background-color:#FEF953;
  padding: 3px 10px;
  line-height: 13px;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}

.en_proceso {
  background-color:#398bf7;
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}

.finalizada {
  background-color:#06d79c;
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}

.resuelta {
  background-color:#FFA23B;
  padding: 3px 10px;
  line-height: 13px;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}

.p_alta {
  background-color:#FF0102;
  padding: 3px 10px;
  line-height: 13px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}

.p_media {
  background-color:#FFC600;
  padding: 3px 10px;
  line-height: 13px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}

.p_baja {
  background-color:#00962A;
  padding: 3px 10px;
  line-height: 13px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 75%;
}
